<!DOCTYPE html>
<html lang="pt-BR">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>iLarica - Cadastro</title>
  <link rel="stylesheet" type="text/css" href="../style/style.css">
  <script src="https://code.jquery.com/jquery-3.6.4.min.js"
    integrity="sha256-oP6HI9z1XaZNBrJURtCoUT5SUnxFr8s3BzRl+cbzUq8=" crossorigin="anonymous"></script>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-KK94CHFLLe+nY2dmCWGMq91rCGa5gtU4mk92HdvYe+M/SXH301p5ILy+dN9+nJOZ" crossorigin="anonymous">
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-ENjdO4Dr2bkBIFxQpeoTz1HIcje39Wm4jDKdf19U8gI4ddQ3GYNS7NTKfAdVQSZe" crossorigin="anonymous">
  </script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.inputmask/5.0.8/jquery.inputmask.min.js"></script>
  <script src="../cadastro/cadastrojs.js"></script>
  <script src="../../js/init/initDB.js"></script>
  <script src="../../model/usuarioModel.js"></script>
  <script src="../../controller/usuarioController.js"></script>
</head>

<body>
  <header>
    <nav class="navbar navbar-expand-lg navbar-light bg-light fixed-top">
      <div class="container-fluid d-flex justify-content-center">
        <a class="navbar-brand" href="#">iLarica</a>
      </div>
    </nav>
  </header>

  <main>
    <div class="container d-flex flex-column justify-content-center" style="height: 100vh;">
      <div class="row d-flex justify-content-center">
        <div class="col-12" align="center">
          <h1>iLarica<img class="" src="../../assets/logo.png" alt="Logo"></h1>
        </div>
      </div>

      <div class="row">
        <div class="input-group col-12 mt-3">
          <span class="input-group-text" id="addon-wrapping">Nome</span>
          <input type="email" class="form-control" id="Nome" placeholder="Nome" aria-label="Nome"
            aria-describedby="addon-wrapping" required>
          <div class="invalid-feedback">Insira um nome</div>
        </div>
      </div>

      <div class="row">
        <div class="input-group col-12 mt-3">
          <span class="input-group-text" id="addon-wrapping">Senha</span>
          <input type="password" class="form-control input-padrao" id="Senha" placeholder="senha" aria-label="senha"
            aria-describedby="addon-wrapping" required>
          <div class="invalid-feedback">A senha não pode ser vazia e deve possuir no mínimo 8 caracteres</div>
        </div>
      </div>

      <div class="row">
        <div class="input-group col-12 mt-3">
          <span class="input-group-text" id="addon-wrapping">E-mail</span>
          <input type="email" class="form-control input-padrao" id="Email" placeholder="email" aria-label="email"
            aria-describedby="addon-wrapping" required>
          <div class="invalid-feedback">Insira um email válido</div>
        </div>
      </div>

      <div class="row">
        <div class="input-group col-12 mt-3">
          <span class="input-group-text" id="addon-wrapping">Cpf</span>
          <input type="text" class="form-control input-padrao" id="Cpf" placeholder="cpf" aria-label="cpf"
            aria-describedby="addon-wrapping" required>
          <div class="invalid-feedback">Insira um CPF</div>
        </div>
      </div>

      <div class="row">
        <div class="input-group col-12 mt-3">
          <span class="input-group-text" id="addon-wrapping">RG</span>
          <input type="text" class="form-control input-padrao" id="Rg" placeholder="rg" aria-label="rg"
            aria-describedby="addon-wrapping" required>
          <div class="invalid-feedback">Insira um RG</div>
        </div>
      </div>

      <div class="row">
        <div class="input-group col-12 mt-3">
          <span class="input-group-text" id="addon-wrapping">Telefone</span>
          <input type="phone" class="form-control input-padrao" id="Telefone" placeholder="telefone"
            aria-label="telefone" aria-describedby="addon-wrapping" required>
          <div class="invalid-feedback">Insira um telefone</div>
        </div>
      </div>

      <!--Matrícula-->
      <div class="row">
        <div class="input-group col-12 mt-3">
          <span class="input-group-text" id="addon-wrapping">Matrícula</span>
          <input type="text" class="form-control input-padrao" id="Matricula" placeholder="matricula"
            aria-label="matricula" aria-describedby="addon-wrapping" required>
          <div class="invalid-feedback">Insira uma matrícula</div>
        </div>

        <div class="container">
          <div class="d-flex justify-content-around">
            <a type="button" class="mt-5 btn btn-primary btn-lg" href="../../index.html">
              <</a> <a type="button" id="BtnCadastrar" class="mt-5 btn btn-primary btn-lg">Cadastrar
            </a>
          </div>
        </div>
      </div>
  </main>

</body>

</html>